* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("backgroundippo.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.ul-header {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.2rem;
}
.header-conteiner {
  display: flex;
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 40px;
}

.main-conteiner {
  max-width: 1700px;
  margin: 0 auto;
  padding-top: 200px;
}
.main-conteiner h1 {
  font-size: 2.5rem;
}
.main-conteiner p {
  padding-top: 20px;
  max-width: 60ch;
}
.footer-conteiner {
  padding-top: 390px;
  max-width: 1700px;
  margin: 0 auto;
}
.ul-footer {
  list-style: none;
}
